@media screen and (min-width: 1400px) {
  .gutters-50 {
    margin-left: -5rem;
    margin-right: -5rem;
  }

  .gutters-50 > [class*="col-"] {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .gutters-40 {
    margin-left: -4rem;
    margin-right: -4rem;
  }

  .gutters-40 > [class*="col-"] {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  .gutters-30 {
    margin-left: -3rem;
    margin-right: -3rem;
  }

  .gutters-30 > [class*="col-"] {
    padding-left: 3rem;
    padding-right: 3rem;
  }
}
